<div class="col-12 p-2">
    <div class="row m-0">
        <div class="col-3">
            <div class="card stack-card">
                <div class="card-header stack-card-header">
                    <div class="code-badge">
                        <img src="images/ang.png"/>
                    </div>
                </div>
                <div class="card-body stack-card-body">
                    <h4 class="stack-card-body-title mt-3">Angular Topics</h4>
                    <p class="p-1 text-center stack-card-body-subtitle">18 Topics</p>
                </div>
            </div>
        </div>
    </div>

</div>